@font-face {
    font-family: 'JetBrains Mono';
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    unicode-range: U+000-5FF;
    src: local('JetBrains Mono'),
    url('/fonts/JetBrainsMono/JetBrainsMono-Italic.woff2') format('woff2'),
    url('/fonts/JetBrainsMono/JetBrainsMono-Italic.woff') format('woff');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+000-5FF;
    src: local('JetBrains Mono'),
    url('/fonts/JetBrainsMono/JetBrainsMono-Regular.woff2') format('woff2'),
    url('/fonts/JetBrainsMono/JetBrainsMono-Regular.woff') format('woff');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 800;
    font-style: italic;
    font-display: swap;
    unicode-range: U+000-5FF;
    src: local('JetBrains Mono'),
    url('/fonts/JetBrainsMono/JetBrainsMono-ExtraBold-Italic.woff2') format('woff2'),
    url('/fonts/JetBrainsMono/JetBrainsMono-ExtraBold-Italic.woff') format('woff');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    unicode-range: U+000-5FF;
    src: local('JetBrains Mono'),
    url('/fonts/JetBrainsMono/JetBrainsMono-Bold.woff2') format('woff2'),
    url('/fonts/JetBrainsMono/JetBrainsMono-Bold.woff') format('woff');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    unicode-range: U+000-5FF;
    src: local('JetBrains Mono'),
    url('/fonts/JetBrainsMono/JetBrainsMono-ExtraBold.woff2') format('woff2'),
    url('/fonts/JetBrainsMono/JetBrainsMono-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    unicode-range: U+000-5FF;
    src: local('JetBrains Mono'),
    url('/fonts/JetBrainsMono/JetBrainsMono-Medium.woff2') format('woff2'),
    url('/fonts/JetBrainsMono/JetBrainsMono-Medium.woff') format('woff');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 500;
    font-style: italic;
    font-display: swap;
    unicode-range: U+000-5FF;
    src: local('JetBrains Mono'),
    url('/fonts/JetBrainsMono/JetBrainsMono-Medium-Italic.woff2') format('woff2'),
    url('/fonts/JetBrainsMono/JetBrainsMono-Medium-Italic.woff') format('woff');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: bold;
    font-style: italic;
    font-display: swap;
    unicode-range: U+000-5FF;
    src: local('JetBrains Mono'),
    url('/fonts/JetBrainsMono-Bold-Italic.woff2') format('woff2'),
    url('/fonts/JetBrainsMono-Bold-Italic.woff') format('woff');
}
